.wrapper {
    margin: 0 auto; 
    padding: 20px;
    background-color: #dad7cd;
    }


.content{
    font-style:normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}


